@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.item{
    margin-top: 2.5px;
    height: 50px;
    width: 50px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .3);
    position: relative;
    margin-right:4px;
    float: left;
}

.item span{
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .5);
    border-radius: 2.5px;
    padding: 0.5px;
    color: black;
}

.item.case_breakout{
    background-image: url(https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFMu1aPMI24auITjxteJwPXxY72AkGgIvZAniLjHpon2jlbl-kpvNjz3JJjVLFG9rl1YLQ/60fx60f);
}

.item.case_vanguard{
    background-image: url(https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFIuh6rJImVGvtjllYaNka6la7rUxWkE65BzibvD9N7z0Q22-0Fka2GlJ5jVLFHqavWW2g/60fx60f);
}

.item.case_chroma{
    background-image: url(https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFEuh_KQJTtEuI63xIXbxqOtauyClTMEsJV1jruS89T3iQKx_BBqa2j3JpjVLFH1xpp0EQ/60fx60f);
}

.item.armor{
    background-image: url(../assets/protect_item.svg);
}
